<input id="search" type="text" [formControl]="inputControl" placeholder="Search a language">

@if(inputControl.value !== '') {
  <h3>Search Results</h3>
  
  @for (item of searchResults$ | async; track item; let index = $index) {
    <div>{{ index + 1 }} - {{ item }}</div>
  } @empty { 
    <strong>No items found</strong>
  }

} @else { 
  <h3>Search results will be shown here :)</h3>
} 

<h3>All Languages Available</h3>

@for (item of languages; track item; let index = $index) {
  <div>{{ index + 1 }} - {{ item }}</div>
}